.App {
  text-align: center;
  background-color: black;
  height: 800px;
}

img {
  width: 30px;
}

.card {
  width: 100px;
  height: 160px;
  margin: 6px;
  justify-content: space-between;
  padding: 10px;
}

.p1 {
  display: inline-flex;
}

.p2 {
  display: inline-flex;
}

.line {
  display: inline-flex;
}

.top {
  margin: 0;
  margin-left: 5px;
  text-align: left;
}

.bot {
  margin: 0;
  margin-right: 5px;
  text-align: right;
}

h1 {
  margin: 10px;
  color: white;
  background-color: brown;
}

h3 {
  margin-top: 14px;
  margin-bottom: 10px;
  color: white;
}

h2 {
  color: white;
}

h4 {
  color: white;
}

button {
  margin: 8px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
