.App {
  text-align: center;
}

img {
  width: 50px;
}

.card {
  width: 100px;
}

.p1 {
  display: inline-flex;
}

.p2 {
  display: inline-flex;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
